.main-home-page {
  width: 700px;
  height: 1050px;
}
.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.aside-home {
  flex-grow: 1;
}
.news {
  min-height: 500px;
}
.input2 { margin-left: 10px; }
.add { margin-left: 10px; }
.result {
  margin-left: 10px;
  background-color: #950000;
}
.code-bar {
  margin-top: 20px;
  min-height: 500px;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}
.help {
  margin: 20px;
  width: 300px;
}
.cmd-container {
  display: flex;
  flex-direction: row;
}
