<app-menu></app-menu>
<div class="home-container">
  <div class="main-home-page card">
    <h1>Примеры диаграмм</h1>
    <h3>Круговая диаграмма</h3>
    <app-charts [changes]="changes"></app-charts>
    <h3>Вертикальные столбцы</h3>
    <app-vertical-bar-chart></app-vertical-bar-chart>
  </div>
  <div class="aside-home card">
    <div class="card title-font white red-beck">НАСТРОЙКИ</div>
    <div class="news card">
      <input class="input" [(ngModel)]="name" placeholder="наименование"/>
      <input class="input input2" [(ngModel)]="value" placeholder="значение"/>
      <button class="button add" (click)="addData(name, value)">добавить</button>
      <button class="button result" routerLink="result">построить</button>
      <div class="code-bar black-beck">
        <code>
          <p class="white" *ngFor="let item of single">
            <span>name: </span>
            <span class="red">{{item.name}}</span>
            <span>, value: </span>
            <span class="red">{{item.value}}</span></p>
        </code>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
